---
import { Image } from 'astro:assets';
import {
  CompanyIcon,
  HotelIcon,
  HouseIcon,
  IndustryIcon,
  MarketIcon,
  TractorIcon,
} from '@Assets';
import { BaseCard, BaseText, BaseTextTypes } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';

const clients = [
  {
    icon: HouseIcon,
    alt: 'Imagem de uma Residência',
    title: 'Residências',
    paragraph:
      'Oferecemos a você e sua família toda segurança ao prestar serviços na instalação e manutenção elétrica, bem como instalação e manutenção de ar condicionado.',
  },
  {
    icon: HotelIcon,
    alt: 'Imagem de um prédio de Hotel.',
    title: 'Hotéis e Pousadas',
    paragraph:
      'Seus hóspedes merecem passar só bons momentos enquanto curtem suas acomodações. Conte com nossos serviços para que a estadia de seus clientes seja sempre a mais segura e agradável!',
  },
  {
    icon: MarketIcon,
    alt: 'Imagem de uma barraca de mercado.',
    title: 'Supermercado',
    paragraph:
      'As instalações elétricas bem como as manutenções preventivas e corretivas são fundamentais para o sucesso do seu negócio. Uma refrigeração de qualidade ajuda a manter a qualidade dos alimentos e bebidas, aumenta a vida útil dos equipamentos e reduz perdas e danos.',
  },
  {
    icon: IndustryIcon,
    alt: 'Imagem de um prédio industrial.',
    title: 'Indústrias',
    paragraph:
      'Conte conosco para ter instalações profissionais que extraem a melhor performance e aumentam a vida útil dos equipamentos, além de reduzir custos operacionais.',
  },
  {
    icon: TractorIcon,
    alt: 'Imagem de um trator.',
    title: 'Rural',
    paragraph:
      'Tenha instalações robustas que garantem o bom funcionamento dos seus equipamentos. Geradores de energia e um bom sistema de aterramento garantem a tranquilidade e previne sinistros.',
  },
  {
    icon: CompanyIcon,
    alt: 'Imagem de um prédio empresarial.',
    title: 'Empresas e Escritórios',
    paragraph:
      'As boas instalações são essenciais. Sistemas de ar-condicionado funcionando adequadamente influenciam diretamente na concentração, qualidade do trabalho realizado, produtividade e o bem-estar dos seus colaboradores.',
  },
];
---

<SectionsLayout
  class="clients-section"
  id="clientes"
>
  <BaseText
    class="is-blue clients-title"
    tag={BaseTextTypes.TAGS.H2}
  >
    Instalação e Manutenção Elétrica onde quer que seja
  </BaseText>

  <div class="places-cards">
    {
      clients.map(({ icon, alt, title, paragraph }) => (
        <BaseCard class="client-card">
          <Image
            alt={alt}
            class="card-image"
            src={icon}
          />

          <BaseText
            class="is-blue card-title"
            tag={BaseTextTypes.TAGS.H3}
          >
            {title}
          </BaseText>

          <BaseText
            class="is-blue card-paragraph"
            tag={BaseTextTypes.TAGS.P}
          >
            {paragraph}
          </BaseText>
        </BaseCard>
      ))
    }
  </div>
</SectionsLayout>

<style>
  .clients-title {
    @apply mb-16
    text-center;
  }
  .places-cards {
    @apply grid
    grid-cols-1
    place-items-center
    gap-10;
  }

  .client-card {
    @apply flex
    h-auto
    max-w-[100%]
    flex-col
    items-center
    justify-center;
  }

  .card-image {
    @apply mb-5
    max-w-[80px];
  }

  .card-title {
    @apply mb-5
    text-center;
  }

  .card-paragraph {
    @apply max-w-[350px]
    text-center;
  }

  @media (min-width: 768px) {
    .places-cards {
      @apply grid-cols-2;
    }

    .client-card {
      @apply h-[360px];
    }
  }

  @media (min-width: 1300px) {
    .places-cards {
      @apply grid-cols-3;
    }
  }
</style>
