---
import { Image } from 'astro:assets';
import {
  ArCondicionado,
  Aterramento,
  Balcao,
  CamaraFria,
  CargaTermica,
  Eletrica,
  Geladeira,
  Laudo,
  Limpeza,
  Painel,
  Plan,
} from '@Assets';
import { BaseText, BaseTextTypes, BaseCard, BaseLink } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';

const services = [
  {
    image: CamaraFria,
    alt: 'Imagem de uma Camara Fria.',
    content: 'Instalação e Montagem de Câmaras Frias e Salas Climatizadas',
    btnLink: '',
  },
  {
    image: Balcao,
    alt: 'Imagem de um mercado com um balcão á frente.',
    content:
      'Manutenção Corretiva de Expositores Refrigerados, Congelados e  Câmaras Frias',
    btnLink: '',
  },
  {
    image: Limpeza,
    alt: 'Imagem de items de limpeza de equipamentos de refrigeração.',
    content: 'Limpeza e Manutenção Preventiva em Sistemas Frigoríficos',
    btnLink: '',
  },
  {
    image: Eletrica,
    alt: 'Imagem de um homem com um computador na mão.',
    content: 'Instalações e Manutenções Elétricas',
    btnLink: '',
  },
  {
    image: ArCondicionado,
    alt: 'Imagem de um homem concertando um Ar Condicionado.',
    content: 'Instalação, Manutenção e Limpeza de Ar Condicionado',
    btnLink: '',
  },
  {
    image: Painel,
    alt: 'Imagem de um homem carregando uma geladeira.',
    content: 'Montagem de Painéis Elétricos',
    btnLink: '',
  },
  {
    image: Aterramento,
    alt: 'Imagem de um homem carregando uma geladeira.',
    content: 'Instalação e Medição de Aterramento',
    btnLink: '',
  },
  {
    image: Plan,
    alt: 'Imagem de um homem carregando uma geladeira.',
    content: 'Elaboração e Execução de Projetos Elétricos até 800KVA',
    btnLink: '',
  },
  {
    image: Laudo,
    alt: 'Imagem de um homem carregando uma geladeira.',
    content: 'Emissão de Laudos Técnicos e TRTs',
    btnLink: '',
  },
];
---

<SectionsLayout
  class="services-section"
  id="servicos"
>
  <BaseText
    class="is-blue services-title"
    tag={BaseTextTypes.TAGS.H4}
  >
    Nossos Serviços
  </BaseText>

  <div class="services-cards">
    {
      services.map(({ image, alt, content, btnLink }) => (
        <BaseCard class="is-service service-card">
          <Image
            alt={alt}
            class="card-image"
            src={image}
          />

          <div class="card-info">
            <article class="card-content">
              <BaseText
                class="card-paragraph"
                tag={BaseTextTypes.TAGS.P}
              >
                {content}
              </BaseText>

              <BaseLink
                class="card-btn"
                href={btnLink}
                variation="green"
              >
                Saiba Mais
              </BaseLink>
            </article>
          </div>
        </BaseCard>
      ))
    }
  </div>
</SectionsLayout>

<style>
  .services-title {
    @apply mb-16
    text-center;
  }

  .services-cards {
    @apply grid
    grid-cols-1
    place-items-center
    gap-10;
  }

  .service-card {
    @apply relative;
  }

  .card-image {
    @apply h-[350px]
    w-full
    max-w-[350px]
    rounded-[80px_80px_0_80px]
    object-cover;
  }

  .card-info {
    @apply absolute
    bottom-[0]
    right-[0]
    flex
    h-[170px]
    w-[170px]
    items-center
    justify-center
    rounded-[50px_50px_0_50px]
    bg-navyBlueCard;
  }

  .card-content {
    @apply flex
    w-[140px]
    flex-col
    items-center
    gap-[10px]
    text-center;
  }

  .card-paragraph {
    @apply text-sm;
  }

  .card-btn {
    @apply hidden
    text-xs;
  }

  @media (min-width: 360px) {
    .card-info {
      @apply bottom-[0]
      right-[0]
      h-[190px]
      w-[190px];
    }

    .card-paragraph {
      @apply text-base;
    }

    .card-btn {
      @apply text-sm;
    }
  }

  @media (min-width: 768px) {
    .services-cards {
      @apply grid-cols-2;
    }
  }

  @media (min-width: 1300px) {
    .services-cards {
      @apply grid-cols-3;
    }
  }
</style>
